{block styles}{/block}
{block content}
    <div class="kapteinbrua_header">
        <h1>
            <a href="/admin/post/overview/{$post["type"]["slug"]}">
                <img src="{$resourcesUrl}/icons/long-arrow-left.svg"/>
            </a>
            {$post["slug"]}
        </h1>
        <div class="kapteinbrua_header_actions">
            <a href="/admin/post/new/{$post["type"]["slug"]}?mutationId={$post["id"]}">
                <button class="kapteinbrua_button">
                    <img src="{$resourcesUrl}/icons/plus.svg"/>
                    {var $type = $post["type"]["slug"]}
                    {_anker.post.type.$type.edit.actions.mutation}
                </button>
            </a>
            <div class="kapteinbrua_select_container">
                <img src="{$resourcesUrl}/icons/language.svg"/>
                <select id="mutationSelector">
                    {foreach $mutations as $key => $mutation}
                        {var $langKey = ($mutation == "" ? "no" : $mutation)}
                        <option value="{$key}" {$mutation == $lang ? "selected" : null}>{_anker.languages.lang.$langKey}</option>
                    {/foreach}
                </select>
            </div>
        </div>
    </div>
    <div class="kapteinbrua__new_form">
        {control editPost}
    </div>
{/block}
{block scripts}
    <script type="text/javascript">
        $("#mutationSelector").change(function(){
            window.location.replace("/admin/post/edit/" + $(this).val())
        });
    </script>
{/block}