{block styles}{/block}

{block content}
    <div class="kapteinbrua_header">
        <h1>
            <a href="/admin/post/overview/{$postType}">
                <img src="{$resourcesUrl}/icons/long-arrow-left.svg"/>
            </a>
            {_anker.post.$postType.new.title}
        </h1>
    </div>
    <div class="kapteinbrua__new_form">
        {control newPost}
    </div>
{/block}

{block scripts}{/block}