{block styles}
    <link rel="stylesheet" href="{$resourcesUrl}/css/languages.css">
    <style>
        .kapteinbrua_languages_table_column span {
            top: 1px;
        }
    </style>
{/block}

{block content}
    <div class="kapteinbrua_header">
        <h1>{_anker.post.type.$type.overview.title}</h1>
        <div class="kapteinbrua_header_actions">
            {if $_presenter->getUser()->getAuthorizator()->hasACL('anker_post_'.$type, 'new')}
            <a href="/admin/post/new/{$type}">
                <button class="kapteinbrua_button">
                    <img src="{$resourcesUrl}/icons/plus.svg"/>
                    {_anker.post.type.$type.overview.actions.new}
                </button>
            </a>
            {/if}
            <select id="mutationSelector">
                {foreach $languages as $key => $language}
                    <option value="{$key}" {$lang == $key ? "selected" : null}>{$language}</option>
                {/foreach}
            </select>
        </div>
    </div>
    {if count($posts) == 0}
        <div class="kapteinbrua_error_wrapper">
            <span>{_anker.post.type.$type.overview.empty}</span>
        </div>
    {else}
        <div class="kapteinbrua_languages_table">
            <div class="kapteinbrua_languages_table_header">
                <div class="kapteinbrua_languages_table_column">{_anker.post.type.$type.overview.table.title}</div>
                <div class="kapteinbrua_languages_table_column">{_anker.post.type.$type.overview.table.actions}</div>
            </div>
            {foreach $posts as $item}
                {include 'components/postItem.latte',
                    post => $item,
                    type => $type
                }
            {/foreach}
        </div>
    {/if}
{/block}

{block scripts}
    <script type="text/javascript">
        $("#mutationSelector").change(function () {
            if($(this).val() === "") window.location.replace(window.location.pathname);
            else window.location.replace(window.location.pathname + "?lang=" + $(this).val())
        })
    </script>
{/block}