@font-face {
    font-family: "Philosopher";
    src: url(../fonts/Philosopher-Bold.ttf)
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap&subset=latin-ext');

body {
    font-family: "Philosopher", sans-serif;
}

header {
    height: 50px;
    width: 90%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
}

header img {
    height: 40px;
}

header div {
    height: 20px;
    position: relative;
    top: 15px;
}

img#menuToggler {
    width: 20px;
    height: 20px;
    padding-left: 20px;
    display: none;
}

nav {
    position: relative;
    top: 17.5px;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    transition: .25s color;
}

nav ul li:hover a {
    color: #FFB200;
}

nav ul a {
    color: #263238;
    text-decoration: none;
}

footer {
    background-color: #263238;
    color: #FFFFFF;
    padding: 50px 5%;
    text-align: center;
    font-size: 14px;
}

footer div {
    display: flex;
    text-align: center;
    margin: 0 auto 20px auto;
    width: 450px;
    justify-content: space-between;
}

footer div p {
    margin: 0 20px;
    font-size: 14px;
}

footer div p a {
    color: #FFB200;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

select {
    -webkit-appearance: initial;
    -webkit-border-radius: 0;
    -webkit-padding-end: 30px;
    -webkit-padding-start: 0;
    -webkit-user-select: none;
    background-image: url(../icons/toggler.svg), -webkit-linear-gradient(#FFFFFF, #FFFFFF 40%, #FFFFFF);
    background-position: center right;
    background-repeat: no-repeat;
    border: none;
    background-size: 20px;
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    font-family: Philosopher, sans-serif;
    padding-top: 0;
    padding-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: .25s border;
}

.homepage_container {
    position: relative;
    background-image: url(../icons/chess-queen-alt.svg);
    background-repeat: no-repeat;
    background-position: center right 10%;
}

.homepage_top_title a {
    color: #FFB200;
}

.homepage_top {
    width: 1000px;
    margin: 100px auto;
    display: flex;
}

.homepage_top .homepage_top_title {
    width: calc(100% - 250px);
    margin-left: 50px;
}

.homepage_top .homepage_top_title h1 {
    color: #FFB200;
    font-size: 40px;
}

.homepage_top .homepage_top_title h1 div {
    color: #263238;
    font-size: 50px;
    padding-bottom: 10px;
    display: block;
}

.homepage_top .homepage_top_title h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    width: 600px;
    color: #5C656A;
    line-height: 1.75em;
    padding-top: 30px;
}

.link_container {
    position: relative;
    margin: 50px 0;
}

.link_container a {
    position: relative;
    border: 2px solid #C2C9CD;
    border-radius: 4px;
    color: #5C656A;
    padding: 12.5px 60px;
    transition: .25s border;
}

.link_container a span {
    position: relative;
    z-index: 2;
    transition: .25s color;
}

.link_container a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    background-color: #FFB200;
    width: 0;
    height: 100%;
    transition: .25s width, .25s left;
}

.link_container a:hover {
    border: 2px solid #FFB200;
}

.link_container a:hover span {
    color: #FFFFFF;
}

.link_container a:hover::before {
    width: 100%;
    left: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
}

.container h1 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
}

.archive_links {
    display: inline-block;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px 20px;
    background-color: #ffffff;
    transition: .25s background-color;
}

a {
    color: #263238;
}

a .archive_links {
    cursor: pointer;
}

.archive_links:hover {
    background-color: #F2F2F2;
}

.archive_links img {
    width: 20px;
    margin-right: 20px;
}

.ql-editor {
    white-space: initial;
}

table {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

table th, table td {
    padding: 5px;
    border: 1px solid #EEEEEE;
}

table .centrovani {
    text-align: center;
}

.archive-block {
    text-align: center;
    width: 80%;
    margin: 50px auto;
}

.archive-title {
    text-align: center;
    margin: 40px 0 0 0;
    font-size: 30px;
}

.archive-block .container.news, .archive-block .container.results, .archive-block .container.competitions {
    width: 300px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    margin: 10px 20px;
    padding: 20px 20px 20px 20px;
    border-radius: 4px;
    text-align: center;
    display: inline-table;
}

.archive-block .container.news h1, .archive-block .container.results h1, .archive-block .container.competitions h1 {
    font-size: 22px;
}

.archive-block .container.news a, .archive-block p a, .archive-block .container.results a, .archive-block .container.competitions a {
    color: #FFB200 !important;
    text-align: center;
    padding: 20px 0;
}

.archive-menu {
    padding: 50px 0 0px 0;
}

.archive-menu ul {
    margin: 0 auto;
    text-align: center;
}

.archive-menu ul li {
    display: inline-block;
    margin: 0 10px;
}

.archive-menu ul li::before {
    content: ""
}

.archive-menu ul li a {
    transition: .25s color;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    border-radius: 4px;
}

.archive-menu ul li a:hover {
    color: #FFB200;
}

.archive-block p {
    margin-bottom: 30px;
}

main img {
    max-width: 100%;
}

@media screen and (max-width: 1050px) {
    .homepage_top, .homepage_top .homepage_top_title, .homepage_top .homepage_top_title h2 {
        width: 100%;
        margin-left: 0;
    }

    .homepage_top {
        width: 90%;
        margin: 50px auto;
    }
}

@media screen and (max-width: 950px) {
    img#menuToggler {
        display: inline;
        cursor: pointer;
    }

    header {
        padding: 5px 5%;
    }

    header a img {
        height: 20px;
        position: relative;
        top: 12.5px;
    }

    header nav {
        display: none;
        position: absolute;
        background-color: white;
        right: 5%;
        top: 60px;
        padding: 15px 10px;
        border-radius: 4px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    }

    header nav ul li {
        display: block;
        width: 175px;
        padding: 5px 0px;
    }
}

@media screen and (max-width: 600px) {
    footer div {
        display: block;
        text-align: center;
        margin: 0 auto 20px auto;
        width: 90%;
    }

    footer div p {
        margin: 10px 0;
    }

    .container {
        width: 90%;
    }
}

@media screen and (max-width: 550px) {
    .archive-block .container.news, .archive-block .container.results, .archive-block .container.competitions {
        width: calc(100% - 40px) !important;
        margin: 10px 0;
    }
}
