{block styles}

{/block}
{block content}
    <div class="kapteinbrua_header">
        <h1>
            <a href="/admin/roles">
                <img src="{$resourcesUrl}/icons/long-arrow-left.svg"/>
            </a>
            {$role->getIdentifier()}
        </h1>
    </div>
    <div class="kapteinbrua__new_form">
        {control editRole}
    </div>
{/block}
{block scripts}
    <script type="text/javascript">
        const allowed = JSON.parse({json_encode($role->getAllowed())});

        $("input[type=checkbox]").each(function(){
            if(allowed.includes($(this).val())) $(this).attr("checked", true);
        });
    </script>
    <script type="text/javascript" src="{$resourcesUrl}/js/checkboxes.js"></script>
{/block}