{block styles}

{/block}
{block content}
    <div class="kapteinbrua_header">
        <h1>
            <a href="/admin/roles">
                <img src="{$resourcesUrl}/icons/long-arrow-left.svg"/>
            </a>
            {_anker.roles.new.title}
        </h1>
    </div>
    <div class="kapteinbrua__new_form">
        {control newRole}
    </div>
{/block}

{block scripts}
    <script type="text/javascript" src="{$resourcesUrl}/js/checkboxes.js"></script>
{/block}