{block styles}
    <link href="{$resourcesUrl}/css/themes.css" rel="stylesheet"/>
{/block}
{block content}
    <div class="kapteinbrua_header">
        <h1>{_anker.extensions.overview.title}</h1>
    </div>
    <div class="kapteinbrua_themes_container">
        {if count($extensions) == 0}<span>{_anker.extensions.overview.empty}</span>{/if}
        {foreach $extensions as $extension}
            {if $extension->isConnected()}
                <div class="kapteinbrua_themes_item">
                    <div class="kapteinbrua_themes_item_image">
                        <img src="{$extension->getExtensionImage()}"/>
                        <div class="kapteinbrua_themes_item_actions">
                            <ul>
                                {if $_presenter->getUser()->getAuthorizator()->hasACL('anker_extensions', 'activation')}
                                    <a href="/admin/extensions/{in_array($extension->getExtensionIdentifier(), $active) ? "deactivate" : "activate"}/{$extension->getExtensionIdentifier()}">
                                        <li>
                                            <img src="{$resourcesUrl}{in_array($extension->getExtensionIdentifier(), $active) ? "/icons/circle_active.svg" : "/icons/circle_nonactive.svg"}"/>
                                        </li>
                                    </a>
                                {/if}
                                {if !in_array($extension->getExtensionIdentifier(), $active)}
                                    {if $_presenter->getUser()->getAuthorizator()->hasACL('anker_extensions', 'delete')}
                                        <a href="/admin/extensions/delete/{$extension->getExtensionIdentifier()}">
                                            <li>
                                                <img src="{$resourcesUrl}/icons/trash.svg"/>
                                            </li>
                                        </a>
                                    {/if}
                                {/if}
                            </ul>
                        </div>
                        <div class="kapteinbrua_themes_item_info">
                            <h1>{$extension->getExtensionName()}</h1>
                            <h2>{_anker.themes.item.author}:<span>{$extension->getExtensionAuthor()}</span></h2>
                            <h3>{_anker.themes.item.version}:<span>{$extension->getExtensionVersion()}</span></h3>
                            <div class="kapteinbrua_themes_item_description">
                                {_anker.themes.item.description}:<span>{$extension->getExtensionDescription()}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {/if}
        {/foreach}
    </div>
{/block}
{block scripts}{/block}