<div class="kapteinbrua_languages_table_row">
    <div class="flex-space-between">
        <div class="kapteinbrua_languages_table_column">
            <span>{$menu->getIdentifier()}</span>
        </div>
        <div class="kapteinbrua_languages_table_column">
            <a href="/admin/menu/edit/{$menu->getId()}">
                <button class="kapteinbrua_button">
                    <img src="{$resourcesUrl}/icons/edit.svg"/>
                    {_anker.menu.buttons.edit}
                </button>
            </a>
            <a href="/admin/menu/delete/{$menu->getId()}">
                <button class="kapteinbrua_button">
                    <img src="{$resourcesUrl}/icons/trash.svg"/>
                    {_anker.menu.buttons.remove}
                </button>
            </a>
        </div>
    </div>
</div>