{*
    Anker Bro Vindu template
*}
{if $logged}
<style>
    .anker_bro_link {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background: #FFFFFF;
        width: 40px;
        height: 40px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
        border-radius: 50%;
        padding: 10px;
        transition: .25s background-color;
    }
    .anker_bro_link:hover {
        background: #F8F8F8;
    }
</style>
<a href="/admin">
    <img class="anker_bro_link" src="/images/anchor.svg"/>
</a>
{/if}
