{*
    Anker Pager Vindu template
*}
<div class="anker_pager_container">
    <div class="anker_pager_column">
        <p>{_"anker.pager.total"}: {$total}</p>
        <p>{($page - 1)*$limit+1} - {($page*$limit < $total) ? ($page*$limit) : $total} {_"anker.pager.items"}</p>
    </div>
    <div class="anker_pager_column">
        {if $page > 1}
        <a class="anker_pager_prev" href="{$prev}">
            <span>
                <img src="{$icon}"/>
            </span>
        </a>
        {/if}
        <span>{$page}</span>
        {if $total > ($page*$limit)}
        <a class="anker_pager_next" href="{$next}">
            <span>
                <img src="{$icon}"/>
            </span>
        </a>
        {/if}
    </div>
</div>
