{*
    Anker Translate Switcher Vindu template
*}
<select onchange="setLanguage(this)">
    {foreach $langs as $lang}
        <option value="{$lang}" {$selectedLang == $lang ? "selected" : ""}>{_"anker.vindu.translateSwitcher.".$lang}</option>
    {/foreach}
</select>
<script type="text/javascript">
    function setLanguage(el) {
        setCookie('lang', $(el).val(), 365);
        window.location.reload();
    }
</script>
