.kapteinbrua__new_form {
    display: flex;
}

#creatorAvailableInputsList {
    margin-right: 40px;
    width: 250px;
}

#creatorAvailableInputsList h1, .kapteinbrua_post_structure h1 {
    margin-bottom: 20px;
}

#creatorInputsList .inputContainer {
    padding: 15px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 15px 0;
}

#creatorInputsList .inputContainer h1 {
    margin: 0;
}

#creatorInputsList .inputContainer label {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
}

#creatorInputsList .inputContainer img {
    transform: rotateZ(45deg);
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-bottom: 2px;
    cursor: pointer;
}

#creatorInputsList .inputContainer input {
    width: calc(100% - 60px);
    border: 2px solid #C2C9CD;
    border-radius: 4px;
    padding: 5px 10px;
    margin-top: 10px;
    transition: .25s border;
}

#creatorInputsList .inputContainer input:focus {
    border: 2px solid #5C656A;
}

.kapteinbrua_post_structure h1 {
    margin-left: 15px;
}

.kapteinbrua_post_structure > form {
    margin-left: 15px;
}

@media screen and (max-width: 900px) {
    .kapteinbrua__new_form {
        display: block;
    }
}