@font-face {
    font-family: "Philosopher";
    src: url(../fonts/Philosopher-Bold.ttf)
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap&subset=latin-ext');

body {
    font-family: "Philosopher", sans-serif;
    padding-top: 71px;
}

header {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    padding: 15px 30px;
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: calc(100% - 60px);
    z-index: 3;
}

.kapteinbrua_header_logo {
    width: 40px;
    height: 40px;
}

.kapteinbrua_website_link {
    width: 20px;
    height: 20px;
    position: relative;
    top: 12px;
}

.kapteinbrua_header_user {
    position: relative;
    width: 80px;
    display: flex;
    padding: 5px;
    transition: .25s background-color;
    cursor: pointer;
    border-radius: 40px;
}

.kapteinbrua_header_user:hover {
    background-color: #F2F2F2;
}

.kapteinbrua_header_user > img {
    width: 30px;
    height: 30px;
    border-radius: 40px;
    object-fit: cover;
    object-position: center;
}

.kapteinbrua_header_user_toggle {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.kapteinbrua_header_user_nav {
    position: absolute;
    top: 40px;
    right: 15px;
    width: 150px;
    background-color: #ffffff;
    display: none;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
}

.kapteinbrua_header_user:hover .kapteinbrua_header_user_nav {
    display: block;
}

.kapteinbrua_header_user_nav li {
    padding: 10px 15px;
    transition: .25s background-color;
}

.kapteinbrua_header_user_nav li a {
    text-decoration: none;
    color: #263238;
}

.kapteinbrua_header_user_nav li:hover {
    background-color: #F2F2F2;
}

.kapteinbrua_header_right_container {
    display: flex;
}

nav {
    width: 250px;
    position: fixed;
    left: 0;
    top: 71px;
    height: calc(100% - 71px);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    background-color: white;
    z-index: 2;
    overflow: auto;
}

nav ul li > ul {
    height: 0;
    transition: .25s height;
    overflow: hidden;
    background-color: #F8F8F8;
}

nav ul li > ul li div {
    padding: 15px 30px;
}

nav ul li:hover > ul {
    height: auto;
}

nav ul li div {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    transition: .25s background-color;
}

nav ul li div span {
    max-width: calc(100% - 30px);
    overflow: hidden;
}

nav ul li div:hover {
    background-color: #F2F2F2;
}

nav ul li a {
    text-decoration: none;
    color: #263238;
}

.kapteinbrua_nav_toggle {
    width: 20px;
    height: 20px;
}

main {
    width: calc(100% - 250px);
    position: relative;
    left: 250px;
}

button.kapteinbrua_button {
    background: transparent;
    border-radius: 4px;
    padding: 5px 0;
    margin: 0;
    color: #FFB200;
    transition: .25s color;
    border: none;
    font-weight: 600;
    font-family: "Philosopher", sans-serif;
}

button.kapteinbrua_button:hover {
    color: #FF6F00;
}

button.kapteinbrua_button img {
    position: relative;
    top: -1.25px;
    margin-right: 5px;
    height: 16px;
    right: 0;
    transition: .25s right;
}

button.kapteinbrua_button:hover img {
    right: 5px;
}

form table th, form table tr {
    display: block;
    text-align: left;
}

form table th {
    padding-bottom: 15px;
}

form table tr {
    margin-bottom: 15px;
}

form label {
    font-size: 20px;
}

form input {
    width: calc(100% - 30px);
    border: 2px solid #C2C9CD;
    border-radius: 4px;
    padding: 10px 15px;
    transition: .25s border;
}

form input:focus {
    border: 2px solid #5C656A;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.kapteinbrua_header {
    width: 80%;
    margin: 50px auto;
}

.kapteinbrua_header h1 {
    font-size: 30px;
    padding-bottom: 10px;
    color: #263238;
}

.kapteinbrua_header h1 img {
    height: 25px;
    position: relative;
    right: 0;
    top: -2.5px;
    margin-right: 7.5px;
    transition: .25s right;
}

.kapteinbrua_header h1 img:hover {
    height: 25px;
    right: 5px;
}

.kapteinbrua_header_actions button {
    margin-right: 20px;
}

.kapteinbrua_error_wrapper {
    width: 80%;
    margin: 0 auto;
}

.kapteinbrua__new_form {
    width: 80%;
    margin: 0 auto;
}

.kapteinbrua_select_container {
    display: inline-block;
}

.kapteinbrua_select_container img {
    height: 16px;
    margin-right: 5px;
}

.kapteinbrua_checkbox_container {
    display: inline-block;
    margin-right: 20px;
    color: #5C656A;
    transition: .25s color;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
}

.kapteinbrua_checkbox_container input:checked + .kapteinbrua_checkbox {
    background-color: #FFB200;
    border: 2px solid #FFB200;
}

.kapteinbrua_checkbox_container:hover {
    color: #FF6F00;
}

.kapteinbrua_checkbox_container:hover .kapteinbrua_checkbox {
    border: 2px solid #FF6F00;
}

.kapteinbrua_checkbox {
    width: 10px;
    height: 10px;
    border-radius: 4px;
    border: 2px solid #C2C9CD;
    display: inline-block;
    position: relative;
    background-color: #FFFFFF;
    transition: .25s border, .25s background-color;
    top: 1px;
    margin-right: 10px;
}

select {
    -webkit-appearance: initial;
    -webkit-border-radius: 4px;
    -webkit-padding-end: 40px;
    -webkit-padding-start: 20px;
    -webkit-user-select: none;
    background-image: url(../icons/toggler.svg), -webkit-linear-gradient(#FFFFFF, #FFFFFF 40%, #FFFFFF);
    background-position: center right 10px;
    background-repeat: no-repeat;
    border: 2px solid #C2C9CD;
    background-size: 20px;
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    font-family: Philosopher, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: .25s border;
}

select:hover {
    border: 2px solid #FFB200;
}

.kapteinbrua_header_actions select, header select {
    margin: 0 20px;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
}

.kapteinbrua_header_actions select {
    margin: 0;
}

.kapteinbrua_header_actions select:hover, header select:hover {
    border: none;
}

.anker_pager_container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.anker_pager_column img {
    width: 20px;
    position: relative;
}

.anker_pager_column a.anker_pager_prev img {
    transform: rotateZ(90deg);
    right: 0;
    transition: .25s right;
}

.anker_pager_column a.anker_pager_prev:hover img {
    right: 2px;
}

.anker_pager_column a.anker_pager_next img {
    transform: rotateZ(-90deg);
    left: 0;
    transition: .25s left;
}

.anker_pager_column a.anker_pager_next:hover img {
    left: 2px;
}

#menuToggler {
    width: 20px;
    padding-left: 20px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 1200px) {
    main {
        width: 100%;
        position: relative;
        left: 0;
    }
    #menuToggler {
        display: block;
    }
    nav {
        display: none;
        left: auto;
        right: 0;
    }
}

@media screen and (max-width: 900px) {
    .kapteinbrua__new_form {
        width: 90%;
    }
    .kapteinbrua_header {
        width: 90%;
        margin: 30px auto;
    }
}