.kapteinbrua_languages_table {
    width: 80%;
    margin: 50px auto;
}

.kapteinbrua_languages_table_header {
    display: flex;
    justify-content: space-between;
    margin: 0 30px 20px 30px;
    color: #263238;
}

.kapteinbrua_languages_table_row {
    margin: 15px 0;
    padding: 15px 30px;
    color: #141A1D;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}

.kapteinbrua_languages_table_column button,
.kapteinbrua_languages_table_catalogues button{
    padding: 0 0 0 20px;
    margin: 0 0 0 5px;
}

.kapteinbrua_languages_table_column img {
    height: 16px;
}

.kapteinbrua_languages_table_column span {
    font-family: "Montserrat", sans-serif;
    position: relative;
    top: 5px;
    color: #263238;
}

.kapteinbrua_languages_new_form {
    width: 80%;
    margin: 50px auto;
}

.kapteinbrua_languages_table_catalogues {
    display: block;
    border-top: 1px solid #F2F2F2;
    margin-top: 15px;
    padding-top: 5px;
}

.kapteinbrua_languages_table_catalogues_title {
    color: #263238;
    font-size: 18px;
}

.kapteinbrua_languages_table_catalogues_name {
    color: #5C656A;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.kapteinbrua_languages_table_catalogues ul li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding: 7.5px 30px;
    left: -30px;
}

.kapteinbrua_languages_table_catalogues ul li:hover:not(:first-child) {
    background-color: #F8F8F8;
}

@media screen and (max-width: 900px) {
    .kapteinbrua_languages_new_form {
        width: 90%;
    }
    .kapteinbrua_languages_table_header {
        display: none;
    }
    .kapteinbrua_languages_table_column {
        display: block;
        margin: 5px 0;
    }
    .flex-space-between {
        display: block;
    }
    .kapteinbrua_languages_table_column button, .kapteinbrua_languages_table_catalogues button {
        padding: 0 20px 0 0;
        margin: 0 5px 0 0;
    }
    .kapteinbrua_languages_table {
        width: 90%;
        margin: 30px auto;
    }
}