.kapteinbrua_media_library_container {
    width: calc(80% + 20px);
    margin: 50px calc((20% - 20px) / 2);
}

.kapteinbrua_media_error {
    background-color: red;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 50%;
}

.kapteinbrua_media_detail_image {
    position: relative;
}

.kapteinbrua_media_detail_image .kapteinbrua_media_error {
    right: auto;
    left: 20px;
}

.kapteinbrua_media_library_item {
    width: 230px;
    height: 281.6px;
    color: #141A1D;
    border-radius: 4px;
    display: inline-table;
    margin: 10px;
    padding: 10px;
    position: relative;
    max-height: 321.6px;
    background-color: #FFFFFF;
    transition: .25s background-color;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}

.kapteinbrua_media_library_item:hover {
    background-color: #F8F8F8;
}

.kapteinbrua_media_library_item img {
    width: 210px;
    height: 210px;
    border-radius: 4px;
    margin: 10px;
    object-position: center;
    object-fit: cover;
}

.kapteinbrua_media_library_item img.file {
    width: 150px;
    height: 150px;
    margin: 40px;
    object-fit: initial;
    object-position: initial;
}

.kapteinbrua_media_library_item_name {
    padding: 10px;
}

.kapteinbrua_media_upload_form {
    width: 80%;
    margin: 0 auto;
}

.kapteinbrua_media_library_item_actions {
    border-radius: 4px;
    position: absolute;
    top: 7.5px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}

.kapteinbrua_media_library_item_actions ul a li {
    display: inline-block;
    background-color: #FFFFFF;
    transition: .25s background-color;
    border-radius: 4px;
}

.kapteinbrua_media_library_item_actions ul a li:hover {
    background-color: #F8F8F8;
}

.kapteinbrua_media_library_item_actions ul a li img {
    width: 20px;
    height: 20px;
}

.kapteinbrua_media_library_container span {
    padding: 0 10px;
}

.kapteinbrua_media_detail_info {
    width: 80%;
    margin: 0 auto 50px auto;
    display: flex;
    justify-content: space-between;
}

.kapteinbrua_media_detail_image {
    width: calc(100% - 300px);
}

.kapteinbrua_media_detail_info form {
    width: 300px;
}

.kapteinbrua_media_detail_info img {
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 4px;
    max-width: calc(100% - 100px);
}

#mediaDetailPath {
    opacity: 0;
    height: 0;
}

.kapteinbrua_media_detail_info_path {
    position: relative;
}

.kapteinbrua_media_detail_info_path button {
    margin-top: 10px;
}

.kapteinbrua_media_detail_info_path button + .tooltip {
    display: none;
}

.kapteinbrua_media_detail_info_path button:hover + .tooltip {
    display: block;
}

.kapteinbrua_media_detail_info_path button img {
    width: 20px;
    height: 20px;
    background-color: transparent;
    box-shadow: none;
    max-width: 100%;
    padding: 0;
}

.kapteinbrua_media_detail_info_path .tooltip {
    position: absolute;
    top: -7.5px;
    padding: 5px 15px;
    z-index: 3;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}

@media screen and (max-width: 900px) {
    .kapteinbrua_media_upload_form {
        width: 90%;
        margin: 0 auto;
    }
    .kapteinbrua_media_detail_info {
        width: 90%;
        margin: 0 auto 30px auto;
    }
}

@media screen and (max-width: 700px) {
    .kapteinbrua_media_detail_info {
        display: block;
    }
    .kapteinbrua_media_detail_image {
        width: 100%;
        margin-bottom: 30px;
    }
    .kapteinbrua_media_detail_info img {
        max-width: calc(100% - 40px);
    }
}

@media screen and (max-width: 600px) {
    .kapteinbrua_media_library_container {
        width: calc(90% + 20px);
        margin: 50px calc((10% - 20px) / 2);
    }
    .kapteinbrua_media_library_item {
        width: calc(100% - 40px);
        height: auto;
        max-height: 100%;
        text-align: center;
    }
}