@font-face {
    font-family: "Philosopher";
    src: url(../fonts/Philosopher-Bold.ttf)
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap&subset=latin-ext');

body {
    font-family: "Philosopher", sans-serif;
}

.kapteinbrua_login_form_container {
    width: 300px;
    height: 370px;
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 250px);
    text-align: center;
}

.kapteinbrua_login_form_container > img {
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
}

button.kapteinbrua_button {
    background: transparent;
    border-radius: 4px;
    padding: 5px 0;
    margin: 0;
    color: #FFB200;
    transition: .25s color;
    border: none;
    font-weight: 600;
    font-family: "Philosopher", sans-serif;
}

button.kapteinbrua_button:hover {
    color: #FF6F00;
}

button.kapteinbrua_button img {
    position: relative;
    top: -1.25px;
    margin-right: 5px;
    height: 16px;
    right: 0;
    transition: .25s right;
    width: auto;
}

button.kapteinbrua_button:hover img {
    right: 5px;
}

form table {
    padding: 0;
    margin: 0;
    display: block;
}

form table th, form table tr {
    display: block;
    text-align: left;
}

form table tr:not(:nth-child(3)) th {
    padding-bottom: 15px;
}

form table tr:nth-child(3) th {
    height: 0;
}

form table tr:not(:nth-child(3)) {
    margin-bottom: 25px;
}

form table tr:nth-child(3) td {
    text-align: center;
    display: block;
}

form label {
    font-size: 16px;
    padding: 0 15px;
}

form input {
    width: 299px;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    transition: .25s border;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    transition: .25s box-shadow;
}

form input:focus {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(38,50,56,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(38,50,56,0.5);
    box-shadow: 0px 0px 5px 0px rgba(38,50,56,0.5);
}