.kapteinbrua_themes_container {
    width: 80%;
    margin: 0 auto;
}

.kapteinbrua_themes_item {
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    position: relative;
    margin-bottom: 20px;
}

.kapteinbrua_themes_item_image {
    display: flex;
}

.kapteinbrua_themes_item_info {
    padding: 15px 0;
}

.kapteinbrua_themes_item_image img {
    width: 200px;
    height: 200px;
    object-position: center;
    object-fit: cover;
    margin-right: 20px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.kapteinbrua_themes_item_image span {
    margin-left: 10px;
    font-family: "Montserrat", sans-serif;
}

.kapteinbrua_themes_item_image h1 {
    font-size: 25px;
    padding-bottom: 10px;
}

.kapteinbrua_themes_item_image h2 {
    font-size: 14px;
    padding-bottom: 2.5px;
}

.kapteinbrua_themes_item_image h3 {
    font-size: 14px;
    padding-bottom: 2.5px;
}

.kapteinbrua_themes_item_description {
    padding-top: 5px;
}

.kapteinbrua_themes_item_actions {
    border-radius: 4px;
    position: absolute;
    bottom: 7.5px;
    left: 7.5px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}

.kapteinbrua_themes_item_actions ul li {
    display: inline-block;
    background-color: #FFFFFF;
    transition: .25s background-color;
    border-radius: 4px;
}

.kapteinbrua_themes_item_actions ul li:hover {
    background-color: #F8F8F8;
}

.kapteinbrua_themes_item_actions ul li img {
    width: 20px;
    height: 20px;
    object-fit: initial;
    object-position: initial;
    margin: auto;
    border-radius: initial;
    padding: 10px 15px;
}

@media screen and (max-width: 900px) {
    .kapteinbrua_themes_container {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .kapteinbrua_themes_item_image {
        display: block;
    }
    .kapteinbrua_themes_item_image img {
        width: 100%;
        border-radius: 4px;
    }
    .kapteinbrua_themes_item_info {
        padding: 15px;
    }
    .kapteinbrua_themes_item_actions {
        top: 7.5px;
        bottom: auto;
    }
}