.kapteinbrua_users_table {
    width: 80%;
    margin: 0 auto;
}

.kapteinbrua_users_table_header {
    margin: 0 30px 20px 30px;
    color: #263238;
}

.kapteinbrua_users_table_row {
    margin: 15px 0;
    padding: 15px 30px;
    color: #141A1D;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}

.kapteinbrua_users_table_column {
    width: 31%;
    display: inline-table;
}

.kapteinbrua_users_table_column span {
    font-family: "Montserrat", sans-serif;
    position: relative;
    top: 5px;
    color: #263238;
}

.kapteinbrua_users_table_actions {
    margin-top: 10px;
}

.kapteinbrua_users_table_column button {
    margin: 0 20px 0 0;
}

@media screen and (max-width: 900px) {
    .kapteinbrua_users_table_header {
        display: none;
    }
    .kapteinbrua_users_table_column {
        display: block;
        margin: 5px 0;
    }
    .flex-space-between {
        display: block;
    }
    .kapteinbrua_users_table_column button, .kapteinbrua_users_table_catalogues button {
        padding: 0 20px 0 0;
        margin: 0 5px 0 0;
    }
    .kapteinbrua_users_table {
        width: 90%;
        margin: 30px auto;
    }
    .kapteinbrua_users_table_row {
        padding: 15px 30px 45px 30px;
        position: relative;
    }
    .kapteinbrua_users_table_actions {
        position: absolute;
        bottom: 20px;
    }
}