<header>
    <a href="/admin">
        <img class="kapteinbrua_header_logo" src="{$basePath}/images/anchor.svg"/>
    </a>
    <div class="kapteinbrua_header_right_container">
        <a href="/">
            <img class="kapteinbrua_website_link" src="{$resourcesUrl}/icons/browser.svg"/>
        </a>
        {vindu id => "ankerTranslateSwitcher"}{/vindu}
        <div class="kapteinbrua_header_user">
            <img src="{$resourcesUrl}/images/default_user_picture.png"/>
            <div class="kapteinbrua_header_user_name">
                <img class="kapteinbrua_header_user_toggle" src="{$basePath}/images/toggler.svg"/>
            </div>
            <div class="kapteinbrua_header_user_nav">
                <ul>
                    <li>
                        <a href="/admin/users/profile">{_anker.admin.header.profile}</a>
                    </li>
                    <li>
                        <a href="/admin/login/out">{_anker.admin.header.logout}</a>
                    </li>
                </ul>
            </div>
        </div>
        <img id="menuToggler" src="{$resourcesUrl}/icons/bars.svg"/>
    </div>
</header>