<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{$ankerHeader->getIcon()}" type="image/png" sizes="16x16">
    <title>
        {$ankerHeader->getTitle()}
        {var $webName = $_presenter->getAnkerWrapper()->getSettingsFacade()->getValueByIdentifier("web_name")}
        {if $webName != ""}
            | {$webName}
        {/if}
    </title>
    {var $webDesc = $_presenter->getAnkerWrapper()->getSettingsFacade()->getValueByIdentifier("web_description")}
    {if $webDesc != ""}
        <meta name="description" content="{$webDesc}">
    {/if}
    {var $webAuthor = $_presenter->getAnkerWrapper()->getSettingsFacade()->getValueByIdentifier("web_author")}
    {if $webAuthor != ""}
        <meta name="author" content="{$webAuthor}">
    {/if}
    {var $ogEnabled = $_presenter->getAnkerWrapper()->getSettingsFacade()->getValueByIdentifier("og_enabled")}
    {if $ogEnabled != "" && $ogEnabled == true}
        {var $ogTitle = $_presenter->getAnkerWrapper()->getSettingsFacade()->getValueByIdentifier("og_title")}
        {if $ogTitle != ""}
            <meta property="og:title" content="{$ogTitle}" />
        {/if}
        {var $ogDesc = $_presenter->getAnkerWrapper()->getSettingsFacade()->getValueByIdentifier("og_description")}
        {if $ogDesc != ""}
            <meta property="og:description" content="{$ogDesc}" />
        {/if}
        {var $ogImage = $_presenter->getAnkerWrapper()->getSettingsFacade()->getValueByIdentifier("og_image_url")}
        {if $ogImage != ""}
            <meta property="og:image" content="{$ogImage}" />
        {/if}
    {/if}
    {$ankerHeader->metasStringify()}
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/kensnyder/quill-image-resize-module/3411c9a7/image-resize.min.js"></script>
    <script type="text/javascript" src="{$resourcesUrl}/js/quillToolbarOptions.js"></script>
    <script type="text/javascript" src="{$resourcesUrl}/js/cookies.js"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="{$resourcesUrl}/css/reset.css" rel="stylesheet"/>
    <link href="{$resourcesUrl}/css/general.css" rel="stylesheet"/>
    {define styles}{/define}
    {include styles}
</head>
<body>
{include 'Common/topMenu.latte'}
<nav>
    {include 'Menu/menu.latte', items => $ankerAdminMenu->getItems()}
</nav>
<main>
    {define content}{/define}
    {include content}
</main>
{define scripts}{/define}
<script type="text/javascript" src="{$baseUrl}/js/netteForms.js"></script>
<script type="text/javascript" src="{$resourcesUrl}/js/nav.js"></script>
{include scripts}
</body>
</html>
