{block styles}{/block}
{block content}
    <div class="kapteinbrua_header">
        <h1>{_anker.admin.error.title}</h1>
    </div>
    <div class="kapteinbrua__new_form">
        <h1>{_anker.admin.error.description}</h1>
    </div>
{/block}
{block scripts}{/block}