{block styles}
    <link rel="stylesheet" href="{$resourcesUrl}/css/users.css">
    <style>
        .kapteinbrua_users_table_column button {
            margin: 0 0 0 20px;
        }

        input:not(.disabled) {
            border: 2px solid #C2C9CD;
            border-radius: 4px;
            padding: 10px 15px;
            transition: .25s border;
        }

        input:not(.disabled):focus {
            border: 2px solid #5C656A;
        }

        input.disabled {
            border: 2px solid #EEEEEE;
            border-radius: 4px;
            padding: 10px 15px;
            background: #FFFFFF;
        }

        .save_button {
            display: none;
        }

        .kapteinbrua__new_form {
            margin-bottom: 60px;
            display: none;
        }

        .kapteinbrua__new_form form {
            padding: 30px 30px 15px 30px;
            border-radius: 4px;
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
        }
        @media screen and (max-width: 950px) {
            .kapteinbrua_users_table_column {
                width: 100%;
                text-align: left !important;
                margin: 5px 0;
            }
            .kapteinbrua_users_table_column button {
                margin: 0 20px 0 0 !important;
                padding: 0 5px 0 0;
            }
            .kapteinbrua_users_table_column {
                margin: 10px 0;
            }
            .kapteinbrua_users_table_row {
                padding: 15px 30px;
            }
        }
    </style>
{/block}
{block content}
    <div class="kapteinbrua_header">
        <h1>
            <a href="/admin/languages">
                <img src="{$resourcesUrl}/icons/long-arrow-left.svg"/>
            </a>
            {$catalogue}
        </h1>
        <div class="kapteinbrua_header_actions">
            <button onclick="toggleAdd()" class="kapteinbrua_button">
                <img src="{$resourcesUrl}/icons/plus.svg"/>
                {_anker.languages.edit.add.toggle}
            </button>
        </div>
    </div>
    <div class="kapteinbrua__new_form">
        {control addResource}
    </div>
    {if count($resources) == 0}
        <div class="kapteinbrua_error_wrapper">
            <span>{_anker.languages.edit.overview.empty}</span>
        </div>
    {else}
        <div class="kapteinbrua_users_table">
            <div class="kapteinbrua_users_table_header">
                <div class="kapteinbrua_users_table_column">
                    {_anker.languages.edit.table.identifier}
                </div>
                <div class="kapteinbrua_users_table_column">{_anker.languages.edit.table.resource}</div>
                <div class="kapteinbrua_users_table_column"
                     style="text-align: right;">{_anker.languages.edit.table.actions}</div>
            </div>
            {foreach $resources as $key => $resource}
                {include 'components/resourceItem.latte',
                resource => $resource,
                identifier => $key
                }
            {/foreach}
            {vindu id => "ankerPager", total => $total, limit => $limit, page => $page, prev => "/admin/languages/edit/$catalogue?page=". ($page-1)."&limit=$limit", next => "/admin/languages/edit/$catalogue?page=". ($page+1)."&limit=$limit", icon => $resourcesUrl."/icons/toggler.svg"}{/vindu}
        </div>
    {/if}
{/block}

{block scripts}
    <script type="text/javascript" n:syntax="off">
        function saveResource(el) {
            const oldId = $(el).attr("data-old-identifier");
            const returnUrl = $(el).attr("data-return");
            const newId = $(el).parent().parent().children("div:nth-child(1)").children("span").children("input").val();
            const value = $(el).parent().parent().children("div:nth-child(2)").children("span").children("input").val();
            window.location.replace("/admin/languages/editResource?oldId=" + oldId + "&newId=" + newId + "&value=" + value + "&return=" + returnUrl);
        }

        function editResource(el) {
            $(document).find("input:not(.disabled)").each(function () {
                $(this).addClass("disabled");
                $(this).attr("disabled", true);
            });
            $(document).find("button.save_button").each(function () {
                $(this).css({display: "none"});
            });
            $(el).parent().parent().find("input").each(function () {
                $(this).removeClass("disabled");
                $(this).attr("disabled", false);
            });
            $(el).parent().children(".save_button").css({display: "inline-block"});
        }

        function toggleAdd() {
            $(".kapteinbrua__new_form").toggle("fast");
        }
    </script>
{/block}