{block styles}
    <link href="{$resourcesUrl}/css/languages.css" rel="stylesheet"/>
{/block}
{block content}
    <div class="kapteinbrua_header">
        <h1>
            <a href="/admin/languages">
                <img src="{$resourcesUrl}/icons/long-arrow-left.svg"/>
            </a>
            {_anker.languages.new.title}
        </h1>
    </div>
    <div class="kapteinbrua_languages_new_form">
        {control newLanguage}
    </div>
{/block}