{block styles}
    <link href="{$resourcesUrl}/css/languages.css" rel="stylesheet"/>
{/block}
{block content}
    <div class="kapteinbrua_header">
        <h1>{_anker.languages.title}</h1>
        <div class="kapteinbrua_header_actions">
            <a href="/admin/languages/new">
                <button class="kapteinbrua_button">
                    <img src="{$resourcesUrl}/icons/plus.svg"/>
                    {_anker.languages.actions.new}
                </button>
            </a>
        </div>
    </div>
    <div class="kapteinbrua_languages_table">
        <div class="kapteinbrua_languages_table_header">
            <div class="kapteinbrua_languages_table_column">{_anker.languages.table.title}</div>
            <div class="kapteinbrua_languages_table_column">{_anker.languages.table.actions}</div>
        </div>
{foreach $availableLanguages as $code => $catalogue}
    {include 'components/languageItem.latte',
        languageCode => $code,
        catalogue => $catalogue
    }
{/foreach}
    </div>
{/block}