{block item}
    <li>
        <a href="{$item->getLink()}">
            <div>
                <span>{_$item->getLabel()}</span>
                {if count($item->getChildren()) > 0}
                    <img class="kapteinbrua_nav_toggle" src="{$basePath}/images/toggler.svg"/>
                {/if}
            </div>
        </a>
        {include 'menu.latte', items => $item->getChildren()}
    </li>
{/block}