{block styles}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{$resourcesUrl}/css/nestableList.css">
{/block}
{block content}
    <div class="kapteinbrua_header">
        <h1>
            <a href="/admin/menu">
                <img src="{$resourcesUrl}/icons/long-arrow-left.svg"/>
            </a>
            {_anker.menu.new.title}
        </h1>
    </div>
    <div class="kapteinbrua__new_form">
        <div class="nestable-list-forms">
            <form id="menu-add">
                <h3>{_anker.menu.form.new.title}</h3>
                <div class="form-group">
                    <label for="addInputName">{_anker.menu.form.new.identifier}</label>
                    <input type="text" class="form-control" id="addInputName" required>
                </div>
                <div class="form-group">
                    <label for="addInputSlug">{_anker.menu.form.new.link}</label>
                    <input type="text" class="form-control" id="addInputSlug" required>
                </div>
                <button class="kapteinbrua_button" id="addButton">
                    <img src="{$resourcesUrl}/icons/plus.svg"/>
                    {_anker.menu.form.new.add}
                </button>
            </form>

            <form id="menu-editor" style="display: none;">
                <h3>{_anker.menu.form.edit.title}</h3>
                <div class="form-group">
                    <label for="addInputName">{_anker.menu.form.edit.identifier}</label>
                    <input type="text" class="form-control" id="editInputName" required>
                </div>
                <div class="form-group">
                    <label for="addInputSlug">{_anker.menu.form.edit.link}</label>
                    <input type="text" class="form-control" id="editInputSlug" required>
                </div>
                <button class="kapteinbrua_button" id="editButton">
                    <img src="{$resourcesUrl}/icons/edit.svg"/>
                    {_anker.menu.form.edit.save}
                </button>
            </form>
        </div>
        <div class="dd nestable">
            <ol class="dd-list"></ol>
        </div>
        {control newMenu}
    </div>
{/block}
{block scripts}
    <script src="{$resourcesUrl}/js/jquery.nestable.js"></script>
    <script src="{$resourcesUrl}/js/jquery.nestable++.js"></script>
    <script>
        $('.dd.nestable').nestable({
            maxDepth: 5
        }).on('change', updateOutput);

        $("#menuSubmit").click(function(){
            const result = $('.dd.nestable').nestable("serialize");
            if(result.length === 0) return false;
            $("#menuStructure").val(JSON.stringify(result));
        });

    </script>
{/block}