{block styles}
    <link rel="stylesheet" href="{$resourcesUrl}/css/languages.css">
    <style>
        .kapteinbrua_languages_table_column span {
            top: 1px;
        }
    </style>
{/block}
{block content}
    <div class="kapteinbrua_header">
        <h1>{_anker.menu.overview.title}</h1>
        <div class="kapteinbrua_header_actions">
            <a href="/admin/menu/new">
                <button class="kapteinbrua_button">
                    <img src="{$resourcesUrl}/icons/plus.svg"/>
                    {_anker.menu.overview.actions.new}
                </button>
            </a>
        </div>
    </div>
    {if count($menu) == 0}
        <div class="kapteinbrua_error_wrapper">
            <span>{_anker.menu.overview.empty}</span>
        </div>
    {else}
        <div class="kapteinbrua_languages_table">
            <div class="kapteinbrua_languages_table_header">
                <div class="kapteinbrua_languages_table_column">{_anker.menu.table.title}</div>
                <div class="kapteinbrua_languages_table_column">{_anker.menu.table.actions}</div>
            </div>
            {foreach $menu as $item}
                {include 'components/menuItem.latte',
                menu => $item
                }
            {/foreach}
        </div>
    {/if}
{/block}
{block scripts}{/block}