{block content}
    <div class="kapteinbrua_header">
        <h1>{_anker.dashboard.title}</h1>
    </div>
    <div class="kapteinbrua__new_form">
        {_anker.dashboard.welcome}
    </div>
{/block}