{block styles}

{/block}
{block content}
    <div class="kapteinbrua_header">
        <h1>
            <a href="/admin/permissions">
                <img src="{$resourcesUrl}/icons/long-arrow-left.svg"/>
            </a>
            {$permission->getIdentifier()}
        </h1>
    </div>
    <div class="kapteinbrua__new_form">
        {control editPermission}
    </div>
{/block}