{block styles}
    <link rel="stylesheet" href="{$resourcesUrl}/css/users.css">
{/block}
{block content}
    <div class="kapteinbrua_header">
        <h1>{_anker.permissions.overview.title}</h1>
        <div class="kapteinbrua_header_actions">
            <a href="/admin/permissions/new">
                <button class="kapteinbrua_button">
                    <img src="{$resourcesUrl}/icons/plus.svg"/>
                    {_anker.permissions.overview.actions.new}
                </button>
            </a>
        </div>
    </div>
    {if count($permissions) == 0}
        <div class="kapteinbrua_error_wrapper">
            <span>{_anker.permissions.overview.empty}</span>
        </div>
    {else}
        <div class="kapteinbrua_users_table">
            <div class="kapteinbrua_users_table_header">
                <div class="kapteinbrua_users_table_column">
                    {_anker.permissions.table.identifier}<br/>
                    {_anker.permissions.table.actions}
                </div>
                <div class="kapteinbrua_users_table_column">{_anker.permissions.table.resource}</div>
                <div class="kapteinbrua_users_table_column">{_anker.permissions.table.privilege}</div>
            </div>
            {foreach $permissions as $permission}
                {include 'components/permissionItem.latte',
                permission => $permission
                }
            {/foreach}
            {vindu id => "ankerPager", total => $total, limit => $limit, page => $page, prev => "/admin/permissions?page=". ($page-1)."&limit=$limit", next => "/admin/permissions?page=". ($page+1)."&limit=$limit", icon => $resourcesUrl."/icons/toggler.svg"}{/vindu}
        </div>
    {/if}
{/block}
{block scripts}{/block}