<div class="kapteinbrua_languages_table_row">
    <div class="flex-space-between">
        <div class="kapteinbrua_languages_table_column">
            <span>{$post->getSlug()}</span>
        </div>
        <div class="kapteinbrua_languages_table_column">
            {if $_presenter->getUser()->getAuthorizator()->hasACL('anker_post_'.$type, 'edit')}
            <a href="/admin/post/edit/{$post->getId()}">
                <button class="kapteinbrua_button">
                    <img src="{$resourcesUrl}/icons/edit.svg"/>
                    {_anker.post.type.$type.oveview.buttons.edit}
                </button>
            </a>
            {/if}
            {if $_presenter->getUser()->getAuthorizator()->hasACL('anker_post_'.$type, 'delete')}
            <a href="/admin/post/delete/{$post->getId()}">
                <button class="kapteinbrua_button">
                    <img src="{$resourcesUrl}/icons/trash.svg"/>
                    {_anker.post.type.$type.oveview.buttons.remove}
                </button>
            </a>
            {/if}
        </div>
    </div>
</div>