<div class="kapteinbrua_users_table_row">
    <div class="kapteinbrua_users_table_column">
        <span>{$audit->getUser()->getUsername()}</span><br/>
        <span>{$audit->getIp()}</span>
    </div>
    <div class="kapteinbrua_users_table_column">
        <span>{$audit->getDateTimeGMT()}</span><br/>
        <span>{$audit->getPlace()}</span>
    </div>
    <div class="kapteinbrua_users_table_column">
        <span>{$audit->getAgent()}</span>
    </div>
</div>