<div class="kapteinbrua_users_table_row">
    <div class="kapteinbrua_users_table_column">
        <span>{$us["username"]}</span>
        <div class="kapteinbrua_users_table_actions">
            {if $_presenter->getUser()->getAuthorizator()->hasACL('anker_users', 'edit')}
            <a href="/admin/users/edit/{$us["id"]}">
                <button class="kapteinbrua_button">
                    <img src="{$resourcesUrl}/icons/edit.svg"/>
                    {_anker.users.buttons.edit}
                </button>
            </a>
            {/if}
            {if $_presenter->getUser()->getAuthorizator()->hasACL('anker_users', 'delete')}
            <a href="/admin/users/delete/{$us["id"]}">
                <button class="kapteinbrua_button">
                    <img src="{$resourcesUrl}/icons/trash.svg"/>
                    {_anker.users.buttons.delete}
                </button>
            </a>
            {/if}
        </div>
    </div>
    <div class="kapteinbrua_users_table_column">
        <span>{$us["email"]}</span>
    </div>
    <div class="kapteinbrua_users_table_column">
        <span>{_"anker.roles.".$us['metas'][0]['data']}</span>
    </div>
</div>