{block styles}
    <link href="{$resourcesUrl}/css/library.css" rel="stylesheet"/>
{/block}
{block content}
    <div class="kapteinbrua_header">
        <h1>
            <a href="/admin/media?page=1&limit=50">
                <img src="{$resourcesUrl}/icons/long-arrow-left.svg"/>
            </a>
            {$media["name"]}
        </h1>
        <div class="kapteinbrua_header_actions">
            <a href="{$media["path"]}" target="_blank">
                <button class="kapteinbrua_button">
                    <img src="{$resourcesUrl}/icons/eye.svg"/>
                    {_anker.media.detail.actions.open}
                </button>
            </a>
            <a href="{$media["path"]}" download>
                <button class="kapteinbrua_button">
                    <img src="{$resourcesUrl}/icons/download.svg"/>
                    {_anker.media.detail.actions.download}
                </button>
            </a>
            {if $_presenter->getUser()->getAuthorizator()->hasACL('anker_media', 'delete')}
                <a href="/admin/media/delete/{$media["id"]}">
                    <button class="kapteinbrua_button">
                        <img src="{$resourcesUrl}/icons/trash.svg"/>
                        {_anker.media.detail.actions.delete}
                    </button>
                </a>
            {/if}
        </div>
    </div>
    <div class="kapteinbrua_media_detail_info">
        <div class="kapteinbrua_media_detail_image">
            {if !$media["exists"]}
                <div class="kapteinbrua_media_error"></div>
            {/if}
            <a href="{$media["path"]}" target="_blank">
                <img class="{$media["isImage"] == false ? 'file' : ''}"
                     src="{$media["isImage"] == true ? $media["path"] : $resourcesUrl."/icons/file-alt.svg"}"/>
            </a>
        </div>
        <form>
            <table>
                <tr>
                    <th>
                        <label>{_anker.media.detail.path}</label>
                    </th>
                    <td class="kapteinbrua_media_detail_info_path">
                        <input id="mediaDetailPath" type="text" value="{$baseUrl . $media["path"]}"/>
                        <input type="text" value="{$baseUrl . $media["path"]}" disabled/>
                        <button class="kapteinbrua_button" type="button" onclick="copyToolTip()"
                                onmouseout="clearToolTip()">
                            <img src="{$resourcesUrl}/icons/copy.svg"/>
                            {_anker.media.detail.copy}
                        </button>
                        <div class="tooltip" id="mediaDetailPathToolTip">{_anker.media.detail.tooltip.default}</div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
{/block}
{block scripts}
    <script type="text/javascript">
        function copyToolTip() {
            const copyText = document.getElementById("mediaDetailPath");
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            document.execCommand("copy");

            const tooltip = $("#mediaDetailPathToolTip");
            console.log(tooltip);
            tooltip.html({_anker.media.detail.tooltip.copied});
        }

        function clearToolTip() {
            const tooltip = $("#mediaDetailPathToolTip");
            tooltip.html({_anker.media.detail.tooltip.default});
        }
    </script>
{/block}