{block styles}
    <link href="{$resourcesUrl}/css/library.css" rel="stylesheet"/>
{/block}
{block content}
    <div class="kapteinbrua_header">
        <h1>{_anker.media.library.title}</h1>
        <div class="kapteinbrua_header_actions">
            {if $_presenter->getUser()->getAuthorizator()->hasACL('anker_media', 'upload')}
                <a href="/admin/media/upload">
                    <button class="kapteinbrua_button">
                        <img src="{$resourcesUrl}/icons/upload.svg"/>
                        {_anker.media.library.actions.upload}
                    </button>
                </a>
            {/if}
        </div>
    </div>
    <div class="kapteinbrua_media_library_container">
        {if count($mediaList) == 0}<span>{_anker.media.library.empty}</span>{/if}
        {foreach $mediaList as $path => $media}
            <div class="kapteinbrua_media_library_item">
                {if !$media["exists"]}
                    <div class="kapteinbrua_media_error"></div>
                {/if}
                <img class="{$media["isImage"] == false ? 'file' : ''}"
                     src="{$media["isImage"] == true ? $path : $resourcesUrl."/icons/file-alt.svg"}"/>
                <div class="kapteinbrua_media_library_item_name">{$media["name"]|truncate:52}</div>
                <div class="kapteinbrua_media_library_item_actions">
                    <ul>
                        <a href="/admin/media/detail/{$media["id"]}">
                            <li>
                                <img src="{$resourcesUrl}/icons/eye.svg"/>
                            </li>
                        </a>
                        {if $_presenter->getUser()->getAuthorizator()->hasACL('anker_media', 'delete')}
                            <a href="/admin/media/delete/{$media["id"]}">
                                <li>
                                    <img src="{$resourcesUrl}/icons/trash.svg"/>
                                </li>
                            </a>
                        {/if}
                    </ul>
                </div>
            </div>
        {/foreach}
        {vindu id => "ankerPager", total => $total, limit => $limit, page => $page, prev => "/admin/media?page=". ($page-1)."&limit=$limit", next => "/admin/media?page=". ($page+1)."&limit=$limit", icon => $resourcesUrl."/icons/toggler.svg"}{/vindu}
    </div>
{/block}
{block scripts}{/block}