{block styles}
    <link href="{$resourcesUrl}/css/library.css" rel="stylesheet"/>
{/block}
{block content}
    <div class="kapteinbrua_header">
        <h1>{_anker.media.upload.title}</h1>
        <div class="kapteinbrua_header_actions">
            {if $_presenter->getUser()->getAuthorizator()->hasACL('anker_media', 'overview')}
                <a href="/admin/media?page=1&offset=50">
                    <button class="kapteinbrua_button">
                        <img src="{$resourcesUrl}/icons/photo-video.svg"/>
                        {_anker.media.upload.actions.library}
                    </button>
                </a>
            {/if}
        </div>
    </div>
    <div class="kapteinbrua_media_upload_form">
        {control uploadFiles}
    </div>
{/block}
{block scripts}{/block}