{block styles}
    <style>
        #creatorAvailableInputsList .inputContainer {
            border: 1px solid #cccccc;
            padding: 15px 20px;
            border-radius: 4px;
            cursor:pointer;
            background: #FFFFFF;
            margin: 15px 0;
            color: #263238;
            transition: .25s color, .25s background, .25s border;
        }
        #creatorAvailableInputsList .inputContainer div {
            margin: 5px 0;
        }
        #creatorAvailableInputsList .inputContainer div:nth-child(2) {
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
        }
        #creatorAvailableInputsList .inputContainer:hover {
            border: 1px solid #FFB200;
            background: #FFB200;
            color: #FFFFFF;
        }
    </style>
{/block}

{block inputItem}
    <div class="inputContainer" data-title="{_$name}" data-key="{$key}">
        <div class="postCreatorInputTitle">{_$name}</div>
        <div class="postCreatorInputDescription">{_$description}</div>
    </div>
{/block}