<div class="kapteinbrua_languages_table_row">
    <div class="flex-space-between">
        <div class="kapteinbrua_languages_table_column">
            <span>{$postType->getSlug()}</span>
        </div>
        <div class="kapteinbrua_languages_table_column">
            <a href="/admin/post/creator/edit/{$postType->getId()}">
                <button class="kapteinbrua_button">
                    <img src="{$resourcesUrl}/icons/edit.svg"/>
                    {_anker.post.creator.buttons.edit}
                </button>
            </a>
            <a href="/admin/post/creator/delete/{$postType->getId()}">
                <button class="kapteinbrua_button">
                    <img src="{$resourcesUrl}/icons/trash.svg"/>
                    {_anker.post.creator.buttons.remove}
                </button>
            </a>
        </div>
    </div>
</div>