<div class="kapteinbrua_users_table_row">
    <div class="kapteinbrua_users_table_column">
        <span>{$permission->getIdentifier()}</span>
        <div class="kapteinbrua_users_table_actions">
            <a href="/admin/permissions/edit/{$permission->getId()}">
                <button class="kapteinbrua_button">
                    <img src="{$resourcesUrl}/icons/edit.svg"/>
                    {_anker.permissions.buttons.edit}
                </button>
            </a>
            <a href="/admin/permissions/delete/{$permission->getId()}">
                <button class="kapteinbrua_button">
                    <img src="{$resourcesUrl}/icons/trash.svg"/>
                    {_anker.permissions.buttons.delete}
                </button>
            </a>
        </div>
    </div>
    <div class="kapteinbrua_users_table_column">
        <span>{$permission->getResource()}</span>
    </div>
    <div class="kapteinbrua_users_table_column">
        <span>{$permission->getPrivilege()}</span>
    </div>
</div>