{block styles}
    <link rel="stylesheet" href="{$resourcesUrl}/css/users.css">
{/block}
{block content}
    <div class="kapteinbrua_header">
        <h1>{_anker.users.audit.title}</h1>
    </div>
    {if count($audits) == 0}
        <div class="kapteinbrua_error_wrapper">
            <span>{_anker.users.audit.empty}</span>
        </div>
    {else}
        <div class="kapteinbrua_users_table">
            <div class="kapteinbrua_users_table_header">
                <div class="kapteinbrua_users_table_column">
                    {_anker.audit.table.user}<br/>
                    {_anker.audit.table.ip}
                </div>
                <div class="kapteinbrua_users_table_column">
                    {_anker.audit.table.date}<br/>
                    {_anker.audit.table.place}
                </div>
                <div class="kapteinbrua_users_table_column">{_anker.audit.table.agent}</div>
            </div>
            {foreach $audits as $audit}
                {include 'components/userItem.latte',
                audit => $audit
                }
            {/foreach}
        </div>
    {/if}
{/block}
{block scripts}{/block}