{block styles}{/block}
{block content}
    <div class="kapteinbrua_header">
        <h1>
            <a href="/admin/users">
                <img src="{$resourcesUrl}/icons/long-arrow-left.svg"/>
            </a>
            {_anker.users.new.title}
        </h1>
    </div>
    <div class="kapteinbrua__new_form">
        {control newUser}
    </div>
{/block}