{block styles}
    <link rel="stylesheet" href="{$resourcesUrl}/css/users.css">
{/block}
{block content}
    <div class="kapteinbrua_header">
        <h1>{_anker.users.overview.title}</h1>
        <div class="kapteinbrua_header_actions">
            {if $_presenter->getUser()->getAuthorizator()->hasACL('anker_users', 'new')}
            <a href="/admin/users/new">
                <button class="kapteinbrua_button">
                    <img src="{$resourcesUrl}/icons/plus.svg"/>
                    {_anker.users.overview.actions.new}
                </button>
            </a>
            {/if}
        </div>
    </div>

    {if count($users) == 0}
        <div class="kapteinbrua_error_wrapper">
            <span>{_anker.users.overview.empty}</span>
        </div>
    {else}
        <div class="kapteinbrua_users_table">
            <div class="kapteinbrua_users_table_header">
                <div class="kapteinbrua_users_table_column">
                    {_anker.users.table.name}<br/>
                    {_anker.users.table.actions}
                </div>
                <div class="kapteinbrua_users_table_column">{_anker.users.table.email}</div>
                <div class="kapteinbrua_users_table_column">{_anker.users.table.role}</div>
            </div>
            {foreach $users as $us}
                {include 'components/userItem.latte',
                us => $us
                }
            {/foreach}
        </div>
    {/if}
{/block}
{block scripts}{/block}