<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{$ankerHeader->getIcon()}" type="image/png" sizes="16x16">
    <link href="{$resourcesUrl}/css/reset.css" rel="stylesheet"/>
    <link href="{$resourcesUrl}/css/login.css" rel="stylesheet"/>
    <title>
        {$ankerHeader->getTitle()}
        {var $webName = $_presenter->getAnkerWrapper()->getSettingsFacade()->getValueByIdentifier("web_name")}
        {if $webName != ""}
            | {$webName}
        {/if}
    </title>
    {var $webDesc = $_presenter->getAnkerWrapper()->getSettingsFacade()->getValueByIdentifier("web_description")}
    {if $webDesc != ""}
        <meta name="description" content="{$webDesc}">
    {/if}
    {var $webAuthor = $_presenter->getAnkerWrapper()->getSettingsFacade()->getValueByIdentifier("web_author")}
    {if $webAuthor != ""}
        <meta name="author" content="{$webAuthor}">
    {/if}
    {var $ogEnabled = $_presenter->getAnkerWrapper()->getSettingsFacade()->getValueByIdentifier("og_enabled")}
    {if $ogEnabled != "" && $ogEnabled == true}
        {var $ogTitle = $_presenter->getAnkerWrapper()->getSettingsFacade()->getValueByIdentifier("og_title")}
        {if $ogTitle != ""}
            <meta property="og:title" content="{$ogTitle}"/>
        {/if}
    {var $ogDesc = $_presenter->getAnkerWrapper()->getSettingsFacade()->getValueByIdentifier("og_description")}
        {if $ogDesc != ""}
            <meta property="og:description" content="{$ogDesc}"/>
        {/if}
    {var $ogImage = $_presenter->getAnkerWrapper()->getSettingsFacade()->getValueByIdentifier("og_image_url")}
        {if $ogImage != ""}
            <meta property="og:image" content="{$ogImage}"/>
        {/if}
    {/if}
    {$ankerHeader->metasStringify()}
</head>
<body>
<div class="kapteinbrua_login_form_container">
    <img src="{$baseUrl}/images/anchor.svg"/>
    {control loginForm}
</div>
</body>
</html>