{block styles}
    <style>
        .kapteinbrua_setting_icon_image {
            width: 20px;
            height: 20px;
            object-fit: cover;
            object-position: center;
            margin-bottom: 20px;
        }
    </style>
{/block}
{block content}
    <div class="kapteinbrua_header">
        <h1>{_anker.settings.general.title}</h1>
        <div class="kapteinbrua_header_actions">
            {if $_presenter->getUser()->getAuthorizator()->hasACL('anker_settings', 'general')}
            <a href="/admin/settings">
                <button class="kapteinbrua_button">
                    <img src="{$resourcesUrl}/icons/cog.svg"/>
                    {_anker.settings.general.title}
                </button>
            </a>
            {/if}
            {if $_presenter->getUser()->getAuthorizator()->hasACL('anker_settings', 'og')}
            <a href="/admin/settings/og">
                <button class="kapteinbrua_button">
                    <img src="{$resourcesUrl}/icons/cog.svg"/>
                    {_anker.settings.og.sec_title}
                </button>
            </a>
            {/if}
        </div>
    </div>
    <div class="kapteinbrua__new_form">
        <img class="kapteinbrua_setting_icon_image" src="{$baseUrl}/{$icon}"/>
        {control iconForm}
    </div>
{/block}