{block styles}

{/block}
{block content}
    <div class="kapteinbrua_header">
        <h1>{_anker.settings.og.sec_title}</h1>
        <div class="kapteinbrua_header_actions">
            {if $_presenter->getUser()->getAuthorizator()->hasACL('anker_settings', 'general')}
            <a href="/admin/settings">
                <button class="kapteinbrua_button">
                    <img src="{$resourcesUrl}/icons/cog.svg"/>
                    {_anker.settings.general.title}
                </button>
            </a>
            {/if}
            {if $_presenter->getUser()->getAuthorizator()->hasACL('anker_settings', 'icon')}
            <a href="/admin/settings/icon">
                <button class="kapteinbrua_button">
                    <img src="{$resourcesUrl}/icons/cog.svg"/>
                    {_anker.settings.icon.title}
                </button>
            </a>
            {/if}
        </div>
    </div>
    <div class="kapteinbrua__new_form">
        {control oGForm}
    </div>
{/block}
{block scripts}
    <script type="text/javascript" src="{$resourcesUrl}/js/checkboxes.js"></script>
{/block}