{block styles}
    <link rel="stylesheet" href="{$resourcesUrl}/css/creator.css"/>
{/block}
{block content}
    <div class="kapteinbrua_header">
        <h1>
            <a href="/admin/post/creator">
                <img src="{$resourcesUrl}/icons/long-arrow-left.svg"/>
            </a>
            {_anker.post.creator.new.title}
        </h1>
    </div>
    <div class="kapteinbrua__new_form">
        <div id="creatorAvailableInputsList">
            <h1>{_anker.post.creator.new.inputs.title}</h1>
            {foreach $inputs as $key => $input}
                {include 'components/inputItem.latte',
                key => $key,
                name => $input["name"],
                description => $input["description"]}
            {/foreach}
        </div>
        <div class="kapteinbrua_post_structure">
            <h1>{_anker.post.creator.new.structure.title}</h1>
            <div id="creatorInputsList"></div>
            {control postCreator}
        </div>
    </div>
{/block}

{block scripts}
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
    <script type="text/javascript">
        $('#creatorInputsList').sortable();
        $("#frm-postCreator").submit(function () {
            return isStructureValid();
        });

        const isStructureValid = () => {
            const el = $("#creatorInputsList");

            if (el.children().length > 0) {
                let isValid = true;
                let slugs = [];
                el.children().each(function () {
                    const slug = $(this).find("input").val();
                    if (slugs.includes(slug) || slug === "") isValid = false;
                    else slugs.push(slug);
                });
                if (isValid) initializeStructureObject();
                return isValid;
            }

            return false;
        };

        const initializeStructureObject = () => {
            const input = $("#structureInput");
            const el = $("#creatorInputsList");
            let structure = [];
            el.children().each(function () {
                const slug = $(this).find("input.slug").val();
                const factory = $(this).attr("data-key");
                const object = {
                    factory: factory,
                    slug: slug
                };
                structure.push(object);
            });
            input.val(JSON.stringify(structure));
        };

    </script>
    <script type="text/javascript">
        let inputCounter = 0;
        const resourceUrl = {$resourcesUrl}
            $("#creatorAvailableInputsList .inputContainer").click(function () {
                const el = $(this);
                $("#creatorInputsList").append('<div class="inputContainer" data-key="' + el.attr("data-key") + '"><h1>' + el.attr("data-title") + '</h1><label for="slug' + inputCounter + '">Slug</label><input class="slug" id="slug' + inputCounter + '" type="text" /><img onclick="removeElement(this)" src="' + resourceUrl + '/icons/plus.svg"/></div>');
                inputCounter++;
            });
            function removeElement(el) {
                $(el).parent().remove();
            };
    </script>
{/block}