{block styles}
    <link rel="stylesheet" href="{$resourcesUrl}/css/languages.css">
    <style>
        .kapteinbrua_languages_table_column span {
            top: 1px;
        }
    </style>
{/block}
{block content}
    <div class="kapteinbrua_header">
        <h1>{_anker.post.creator.overview.title}</h1>
        <div class="kapteinbrua_header_actions">
            <a href="/admin/post/creator/new">
                <button class="kapteinbrua_button">
                    <img src="{$resourcesUrl}/icons/plus.svg"/>
                    {_anker.post.creator.overview.actions.new}
                </button>
            </a>
        </div>
    </div>
    {if count($postTypes) == 0}
        <div class="kapteinbrua_error_wrapper">
            <span>{_anker.post.creator.overview.empty}</span>
        </div>
    {else}
        <div class="kapteinbrua_languages_table">
            <div class="kapteinbrua_languages_table_header">
                <div class="kapteinbrua_languages_table_column">{_anker.post.creator.table.title}</div>
                <div class="kapteinbrua_languages_table_column">{_anker.post.creator.table.actions}</div>
            </div>
            {foreach $postTypes as $item}
                {include 'components/overviewItem.latte',
                postType => $item
                }
            {/foreach}
            {vindu id => "ankerPager", total => $total, limit => $limit, page => $page, prev => "/admin/post/creator?page=". ($page-1)."&limit=$limit", next => "/admin/post/creator?page=". ($page+1)."&limit=$limit", icon => $resourcesUrl."/icons/toggler.svg"}{/vindu}
        </div>
    {/if}
{/block}

{block scripts}
{/block}