<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{$ankerHeader->getIcon()}" type="image/png" sizes="16x16">
    <title>
        {$ankerHeader->getTitle()}
        {var $webName = $_presenter->getAnkerWrapper()->getSettingsFacade()->getValueByIdentifier("web_name")}
        {if $webName != ""}
            | {$webName}
        {/if}
    </title>
    {var $webDesc = $_presenter->getAnkerWrapper()->getSettingsFacade()->getValueByIdentifier("web_description")}
    {if $webDesc != ""}
        <meta name="description" content="{$webDesc}">
    {/if}
    {var $webAuthor = $_presenter->getAnkerWrapper()->getSettingsFacade()->getValueByIdentifier("web_author")}
    {if $webAuthor != ""}
        <meta name="author" content="{$webAuthor}">
    {/if}
    {var $ogEnabled = $_presenter->getAnkerWrapper()->getSettingsFacade()->getValueByIdentifier("og_enabled")}
    {if $ogEnabled != "" && $ogEnabled == true}
        {var $ogTitle = $_presenter->getAnkerWrapper()->getSettingsFacade()->getValueByIdentifier("og_title")}
        {if $ogTitle != ""}
            <meta property="og:title" content="{$ogTitle}"/>
        {/if}
    {var $ogDesc = $_presenter->getAnkerWrapper()->getSettingsFacade()->getValueByIdentifier("og_description")}
        {if $ogDesc != ""}
            <meta property="og:description" content="{$ogDesc}"/>
        {/if}
    {var $ogImage = $_presenter->getAnkerWrapper()->getSettingsFacade()->getValueByIdentifier("og_image_url")}
        {if $ogImage != ""}
            <meta property="og:image" content="{$ogImage}"/>
        {/if}
    {/if}
    {$ankerHeader->metasStringify()}
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script
    <script type="text/javascript" src="{$resourcesUrl}/js/cookies.js"></script>
    <link href="{$resourcesUrl}/css/reset.css" rel="stylesheet"/>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="{$resourcesUrl}/css/style.css" rel="stylesheet"/>
    {define styles}{/define}
    {include styles}
</head>
<body>
<header>
    <a href="/">
        <img src="{$resourcesUrl}/icons/chess-queen.svg"/>
    </a>
    <nav>
        {vindu id => "ankerMenuRenderer", menu => "main", icon => $baseUrl."/images/toggler.svg"}{/vindu}
    </nav>
    <div>
        {vindu id => "ankerTranslateSwitcher"}{/vindu}
        <img id="menuToggler" src="{$resourcesUrl}/icons/bars.svg"/>
    </div>
</header>
<main>
    {define content}{/define}
    {include content}
</main>
<footer>
    <div>
        <p>
            <span>Webmaster</span>
            <a href="mailto:dalfia@volny.cz">Dalibor Fiala</a>
        </p>
        <p>
            <span>Created by</span>
            <a href="https://dchlouba.cz">Dominik Chlouba</a>
        </p>
    </div>
    <p>Copyright &copy; 2020. Bachelor thesis, University of West Bohemia</p>
</footer>
{vindu id => "ankerBro"}{/vindu}
{define scripts}{/define}
<script src="{$resourcesUrl}/js/nav.js" type="text/javascript"></script>
{include scripts}
</body>
</html>
