{block content}
    <div class="archive-menu">
        {vindu id => "ankerMenuRenderer", menu => "vysledky", icon => $baseUrl."/images/toggler.svg"}{/vindu}
    </div>
    <h1 class="archive-title">{_sjakkspill.archive.competitions}</h1>
    <div class="archive-block">
        {foreach $posts as $post}
            <div class="container {$post->getType()->getSlug()} {$post->getSlug()}">
                <h1>{$post->getFields()["title"]}</h1>
                <a href="/{$post->getType()->getSlug()}/{$post->getSlug()}">Přečíst více</a>
            </div>
        {/foreach}
    </div>
{/block}
{block scripts}
    <script type="text/javascript">
        const title = $("title").text();
        $("title").text({$title} +title)
    </script>
{/block}