{block content}
    <div class="homepage_container">
        <div class="homepage_top">
            <div class="homepage_top_title">
                <h1>{_sjakkspill.homepage.title|noescape|vindu}</h1>
                <h2>{_sjakkspill.homepage.description|noescape|vindu}</h2>
                <div class="link_container">
                    <a href="https://2700chess.com" target="_blank">
                        <span>{_sjakkspill.homepage.link}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{/block}