{block content}
    <div class="container {$post["slug"]}">
        <h1>{$post["fields"]["title"]}</h1>
        <div class="ql-editor">
            {$post["fields"]["text"]|noescape|vindu}
        </div>
    </div>
{/block}
{block scripts}
    <script type="text/javascript">
        const title = $("title").text();
        $("title").text({$post["fields"]["title"]} + title)
    </script>
{/block}