{block styles}
    <link href="{$resourcesUrl}/css/themes.css" rel="stylesheet"/>
{/block}
<div class="kapteinbrua_themes_container">
    {foreach $themes as $key => $theme}
        <div class="kapteinbrua_themes_item">
            <div class="kapteinbrua_themes_item_image">
                <img src="{$theme["image"]}"/>
                <div class="kapteinbrua_themes_item_actions">
                    <ul>
                        {if $key != $active}
                        <a href="/admin/themes/activate/{$key}">
                            {/if}
                            <li>
                                <img src="{$resourcesUrl}{$key == $active ? "/icons/circle_active.svg" : "/icons/circle_nonactive.svg"}"/>
                            </li>
                            {if $key != $active}
                        </a>
                        {/if}
                        {if $key != $active}
                        <a href="/admin/themes/delete/{$key}">
                            <li>
                                <img src="{$resourcesUrl}/icons/trash.svg"/>
                            </li>
                        </a>
                        {/if}
                    </ul>
                </div>
                <div class="kapteinbrua_themes_item_info">
                    <h1>{$theme["name"]}</h1>
                    <h2>{_anker.themes.item.author}:<span>{$theme["author"]}</span></h2>
                    <h3>{_anker.themes.item.version}:<span>{$theme["version"]}</span></h3>
                    <div class="kapteinbrua_themes_item_description">
                        {_anker.themes.item.description}:<span>{$theme["description"]}</span>
                    </div>
                </div>
            </div>
        </div>
    {/foreach}
</div>