{block content}
    <div class="kapteinbrua_header">
        <h1>{_anker.themes.backend.title}</h1>
        <div class="kapteinbrua_header_actions">
            <a href="/admin/themes/frontend">
                <button class="kapteinbrua_button">
                    <img src="{$resourcesUrl}/icons/palette.svg"/>
                    {_anker.themes.frontend.title}
                </button>
            </a>
        </div>
    </div>
    {include 'components/themes.latte',
        themes => $themes,
        active => $active
    }
{/block}