<div class="kapteinbrua_languages_table_row">
    <div class="flex-space-between">
        <div class="kapteinbrua_languages_table_column">
            <span>{_"anker.languages.lang.".$languageCode}</span>
        </div>
        <div class="kapteinbrua_languages_table_column">
            <a href="/admin/languages/newCatalogue/{$languageCode}">
                <button class="kapteinbrua_button">
                    <img src="{$resourcesUrl}/icons/plus.svg"/>
                    {_anker.languages.buttons.newCatalogue}
                </button>
            </a>
            <a href="/admin/languages/remove/{$languageCode}">
                <button class="kapteinbrua_button">
                    <img src="{$resourcesUrl}/icons/trash.svg"/>
                    {_anker.languages.buttons.remove}
                </button>
            </a>
        </div>
    </div>
    <div class="kapteinbrua_languages_table_catalogues">
        <ul>
            <li>
                <span class="kapteinbrua_languages_table_catalogues_title">{_anker.languages.catalogue.title}</span>
            </li>
            {foreach $catalogue as $key => $item}
                <li>
                    <span class="kapteinbrua_languages_table_catalogues_name">{$key}</span>
                    <span>
                        <a href="/admin/languages/edit/{$item}?page=1&limit=20">
                            <button class="kapteinbrua_button">
                                <img src="{$resourcesUrl}/icons/edit.svg"/>
                                {_anker.languages.buttons.edit}
                            </button>
                        </a>
                        {if count($catalogue) > 1}
                            <a href="/admin/languages/removeCatalogue/{$item}">
                                <button class="kapteinbrua_button">
                                    <img src="{$resourcesUrl}/icons/trash.svg"/>
                                    {_anker.languages.buttons.removeCatalogue}
                                </button>
                            </a>
                        {/if}
                    </span>
                </li>
            {/foreach}
        </ul>
    </div>
</div>