<div class="kapteinbrua_users_table_row">
    <div class="kapteinbrua_users_table_column">
        <span><input class="disabled" type="text" value="{$identifier}" disabled/></span>
    </div>
    <div class="kapteinbrua_users_table_column">
        <span><input class="disabled" type="text" value="{$resource}" disabled/></span>
    </div>
    <div class="kapteinbrua_users_table_column" style="text-align: right">
        <button data-return="{$catalogue}" onclick="saveResource(this)" class="kapteinbrua_button save_button" data-old-identifier="{$identifier}">
            <img src="{$resourcesUrl}/icons/save.svg"/>
            {_anker.languages.edit.buttons.save}
        </button>
        <button class="kapteinbrua_button" onclick="editResource(this)">
            <img src="{$resourcesUrl}/icons/edit.svg"/>
            {_anker.languages.edit.buttons.edit}
        </button>
        <a href="/admin/languages/removeResource?id={$identifier}&return={$catalogue}">
            <button class="kapteinbrua_button" onclick="removeResource(this)">
                <img src="{$resourcesUrl}/icons/trash.svg"/>
                {_anker.languages.edit.buttons.delete}
            </button>
        </a>
    </div>
</div>