<div class="kapteinbrua_languages_table_row">
    <div class="flex-space-between">
        <div class="kapteinbrua_languages_table_column">
            <span>{$role->getIdentifier()}</span>
        </div>
        <div class="kapteinbrua_languages_table_column">
            <a href="/admin/roles/edit/{$role->getId()}">
                <button class="kapteinbrua_button">
                    <img src="{$resourcesUrl}/icons/edit.svg"/>
                    {_anker.roles.buttons.edit}
                </button>
            </a>
            <a href="/admin/roles/delete/{$role->getId()}">
                <button class="kapteinbrua_button">
                    <img src="{$resourcesUrl}/icons/trash.svg"/>
                    {_anker.roles.buttons.remove}
                </button>
            </a>
        </div>
    </div>
</div>